<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CleaNest</title>
</head>
<body>
    <header>
    <h1>CleaNest</h1>
    <img id="logo"
    src="/views/images/cleanest.png">
    </div>
<div class="month">
  <ul>
    
    <li>July<br><span style="font-size:18px">2021</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Monday</li>
  <li>Tuesday</li>
  <li>Wednesdy</li>
  <li>Thursday</li>
  <li>Friday</li>
  <li>Saturday</li>
  <li>Sunday</li>
</ul>




    <footer>
        <div id="footer-info"></div>
        <div id="footer-links">
            <ul></ul>
            <ul></ul>
            <ul></ul>
        </div>
    </footer>
</body>
</html>
=======
<div class="pure-g" id="task-list-row">

  {{#each dailyTaskList as |daily|}}
  <div class="pure-u-1-8 task-list-colummn">
    <div class="due-date-title">
      <h2>{{ daily.display_date.day_of_week }}</h2>
      <h3>{{ daily.display_date.month_day }}</h3>
    </div>

    {{#each daily.categories as |category|}}
      <div class="category-task-container">

        <div class="category-title">
          <h2>{{ category.name }}</h2>
        </div>

        <ol class="category-task-list">

            {{#each category.tasks as |task|}}
              <li class="task-list-item">
                  <div class="task-title">
                    {{chore.name}}
                  </div>
                {{>task-info task}}
              </li>
            {{/each}}

        </ol>

      </div>
    {{/each}}


  </div>
  {{/each}}

</div>
>>>>>>> feature/user-routes

