<form class="signup-form">
  <div>
      <label for "displayname-signup">display name:</label>
      <input type="text" id="displayname-signup" />
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="login-button">signup</button>
  </div>

</form>

<script src="/javascript/signup.js"></script>
